html {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0px;
  background-color: #94958B;
  color: black;

}

h1 {
  text-align: center;
}

.prompt {
  height: 10%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
}

.gameboard {
  width: 30%;
  height: 90%;
  margin: 3px;

  border: 2px solid #45528F;
  display: grid;
  grid-template-rows: repeat(10, minmax(0, 20%));
  grid-template-columns: repeat(10, minmax(0, 1fr))
}

.gameboard div {
  border: 1px solid #45528F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
}

.icons {
  height: 80%;
}

.holder {
  position: relative;
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.rotate {
  height: 20%;
  width: 100%;
}

#play,
#random {
  font-size: min(30px, 3vh);
  padding: 0.5rem 1.5rem;
  position: relative;
  max-width: 100%;
  max-height: 40%;
  text-align: center;
  box-sizing: border-box;
  background-color: #45528F;
}


#play:hover,
#random:hover {

  background-color: #82A3A1;
}
